body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #9ed5bb 0%,
    #eaf5e9 48%,
    rgba(234, 245, 233, 0) 100%
  );
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
    font-size: 2.3rem;
    height: 100px;
  }
  
  .account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 1.3rem;
    gap: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 50px auto;
    gap: 2.5rem;
  }

  form > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--dark-green);
    font-family: 'Open Sans';
    font-size: 1.6rem;
  }

  button {
    margin-top: 10px;
  }