.image {
  position: relative;
  display: flex;
  justify-content: center;
  height: 380px;
  background-image: url("../../assets/images/plants.png");
  background-size: cover;
  background-position: center;
}

.image > p {
  position: absolute;
  bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  color: whitesmoke;
}
