.image {
  position: relative;
  display: flex;
  justify-content: center;
  height: 380px;
  background-image: url("../../assets/images/plants.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

