/* .loginTitle {
    margin: 150px 0 0 20px;
    font-size: 20px;
  }
  
  .noAccount {
    margin: 10px 0 10px 0;
    font-size: 12px;
  } */
  
  .formContainer {
    margin: 60px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  
  form {
    margin: 60px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }

  form > input {
    background-color: transparent;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid var(--dark-green);
    font-size: 15px;
  }

  button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 30px;
    border: none;
    background-color: var(--medium-green);
    font-size: 15px;
    color: #fff;
  }